<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./logs/application.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="5" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %5p [%c{1}\:%4L] [%x] %m%n" />
		</layout>
	</appender>

	<logger name="com.mscg">
		<level value="DEBUG" />
	</logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="LOG" />
	</root>
</log4j:configuration>